
choice
    prompt "Manufacturer"
config  MANUF_ST
    bool "STMicroelectronics"
endchoice

choice 
    prompt "Chip"
    config  CHIP_STM32F103ZET6
    bool "STM32F103ZET6"
endchoice

source "./Kconfig.in"
